@import url('http://fonts.cdnfonts.com/css/abyssinica-sil');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abyssinica SIL', sans-serif;
                                                
  }
.team {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.card {
    margin-bottom: 10px;
}
.card-team-image img{
    width: 200px;
    height: 300px;
    overflow: hidden;
}
.card-team{
    border-radius: 10px;
    border: 1px solid grey;
}

