.home-heading {
    font-size: 35px;
    font-weight: 300;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #026b81;
}

.left-home {
    margin-left: 90px;
    font-size: 20px;
    text-align: left;
    margin-right: 70px;
}
.left-home ul {
    margin-top: 10px;
}
.rare_disease_day {
    margin-bottom: 20px;
}

@media (max-width: 900px) {
    .left-home{
      margin-left: 25px;
      margin-right: 20px;
      font-size: 17px;
    }
  }