@import url('http://fonts.cdnfonts.com/css/abyssinica-sil');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abyssinica SIL', sans-serif;
                                                
  }
.ngo-name {
    margin-top: 60px;
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 30px;
  }
  
  .ngo-description {
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
    font-size: 20px;
  }