@import url('http://fonts.cdnfonts.com/css/roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
                                                
  }

  .content {
    padding-top: 100px;
}
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .normal-heading {
    font-size: 35px;
    font-weight: 300;
    color: white;
    text-decoration: underline;
    background-color: #026b81; 
    padding:20px 47px;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 500px;
    height: 90px;
    text-align: center;
    vertical-align: center;
    position: relative;
    margin-left: 70px;
    width: 400px;
}

.left-home {
  margin-left: 90px;
  font-size: 20px;
  text-align: left;
  margin-right: 70px;
}
.content {
  margin-top: 200px;
}

@media (max-width: 900px) {
  .left-home{
    margin-left: 25px;
    margin-right: 20px;
    font-size: 17px;
  }
  .normal-heading {
    width: 300px;
    font-size: 30px;
}
}
@media (max-width: 831px) {
  .content {
    margin-top: 00px;
  }
}
@media (max-width: 400px) {
  .normal-heading {
      width: 250px;
      font-size: 25px;
      margin-left: 5%;
      margin-top: 0px;
  }    
}